<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" content="text/html" http-equiv="Content-Type">
    <title>Admin panel</title>

    <link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style>
    .text-secondary a:hover,
    .text-white a:active,
    .text-white a:visited
    {
        color: gray;
    }
    caption {
        caption-side: top; /* Заголовок над таблицей */
    }
    </style>
</head>
<body>
<!-- 1 row, contents header -->
<div class="container-fluid">
    <header class="row text-white bg-dark">
        <div class="col-md-9  text-white h2 text-left bg-dark" th:text="${you.email} + ' with roles:'">with roles: ADMIN, USER</div>
        <div class="col-md-3 text-right bg-dark align-text-bottom my-auto"><a href="/logout">Logout</a></div>
        <!--  гиперссылка не переезжает вниз, не позиционируется по центру вертикально. игнорирует свойства выставляемые в контейнере -->
        <!-- не работает выставление цвета текста для гиперссылки -->
        <!-- нет фавикона из коропки, не добавляется свой по этой доке https://www.baeldung.com/spring-boot-favicon -->
    </header>
</div>

<div class="row">

    <div class="col-2 container">		<!-- левый контейнер -->
        <div class="col-12"></div>
        <div class="col-12 bg-primary text-white rounded">Admin</div>
        <div class="col-12">User</div>
    </div>


    <div class="col-10 container bg-light">
        <div class="row">
            <div class="col-12 h1">Admin panel</div>
        </div>
        <div class="row">
            <div class="col-1">
                Users table
            </div>
            <div class="col-2 text-left">
                <a href="/registration">New User</a>
            </div>
        </div>

        <div class="row">
            <div class="col-11">

                <table class="table table-striped border clearfix">
                    <caption class="h2 border-top border-right border-left">All users</caption>
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>MaxWeight</th>
                        <th>Edit</th>
                        <th>Delete</th>
                        <!--            <th>Is admin?</th>-->
                    </tr>
                    </thead>

                    <thbody>
                         <tr>
                        <tr th:each="user : ${list}">
                            <td th:text="${user.id}">1</td>
                            <td th:text="${user.username}">admin</td>
                            <td th:text="${user.email}">a@mail.ru</td>
                            <td th:text="${user.maxweight}">75</td>
                            <td>
                                <a th:href="@{/admin/edit/(id=${user.id})}"><button class="btn  btn-primary">Edit</button></a>
                            </td>
                            <td>
                                <a th:href="@{/admin/delete/(id=${user.id})}"><button class="btn btn-danger">Delete</button></a>
                            </td>
                        </tr>
                    </thbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>