<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" content="text/html" http-equiv="Content-Type">
    <title>List all Users</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<h2 align="center"><a href="/registration">Add new user</a></h2>
<div align="center">
    <table border="1" cellpadding="5">
        <caption>sumo wrestlers</caption>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>MaxWeight</th>
            <th>Actions</th>
<!--            <th>Is admin?</th>-->
        </tr>
        <tr>
        <tr th:each="user : ${list}">
            <td th:text="${user.id}">1</td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.maxweight}"></td>
<!--            <td></td>-->
        <td>
            <a th:href="@{/admin/edit/(id=${user.id})}">Edit</a>
            <a th:href="@{/admin/delete/(id=${user.id})}">Delete!</a>
        </td>
    </tr>
    </table>

    <a href="/logout">Exit</a>
</div>
</body>
</html>