<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--<head th:replace="fragments/header :: head(title='Users List')"></head>-->
<!--&lt;!&ndash;-->
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<!---    <script src="webjars/jquery/3.3.1/jquery.min.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body>
<div class="container-fluid">
    <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
    <table class="table">
        <thead>
            <th>ID</th>
            <th>Username</th>
<!--            <th>Role</th>-->
            <th>Email</th>
            <th>maxweith</th>
            <th>Edit</td>
            <th>Delete</td>
        </thead>

        <tbody>
        </tbody>
    </table>
    </div>
</div>
</div>
<script type="text/javascript">
    $(function () {
        $.get('/api/v1/users', "json").done(function (users) {
            users.forEach(function (user) {
                $('tbody').append(`
                    <tr>
                        <td>${user.id}</td>
                        <td>${user.username}</td>
<!--                        <td>${user.role}</td>-->
                        <td>${user.email}</td>
                        <td>${user.maxweight}</td>
                        <td>
<!--                            <button href="#modall" + ${user.id} class="btn btn-primary" data-toggle="modal">Edit!</button>-->
                            <button class="edit btn btn-primary" id="${user.id}">Edit!</button>
                        </td>
                        <td>
<!--                            <button href="http://localhost:8081/api/v1/user/delete/${user.id}" class="btn btn-danger">Delete</button>-->
<!--                                <button class="edit btn btn-danger">Edit</button>&nbsp;&nbsp;<button class=\\'delete\\' id=' + user.id + '>Delete!</button>-->
<!--                                <button class="btn btn-danger" data-toggle="modal" id=' + user.id + '>Delete</button>-->
                                <button class="delete btn btn-danger" id="${user.id}">Delete</button>
                        </td>
                    </tr>
                `)
            });
        })
    });

    $(document).delegate('.delete', 'click', function() {
        if (confirm('Удаление безвовратно. Подумай!')) {
            var id = $(this).attr('id');
            var parent = $(this).parent().parent();
            $.ajax({
                type: "DELETE",
                url: "http://localhost:8081/api/v1/user/delete/" + id,
                cache: false,
                success: function() {
                    parent.fadeOut('slow', function() {
                        $(this).remove();
                    });
                    location.reload(true)
                },
                error: function() {
                    $('#err').html('<span style=\'color:red; font-weight: bold; font-size: 30px;\'>Error deleting record').fadeIn().fadeOut(4000, function() {
                        $(this).remove();
                    });
                }
            });
        }
    });

    $(document).delegate(".edit", 'click', function () {
        var id = $(this).attr("id");
        // alert(id);
        var user = $.ajax({
            type: "GET",
            url: "http://localhost:8081/api/v1/user/info" + id,
            cache: false,
            success: alert(user.username)
        })
    });
</script>
<!--<script th:replace="fragments/scripts :: scripts"></script>-->
</body>
</html>