<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/" lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Page Ajax</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <style>
        /* только явным прописыванием стиля тут удалось сделать белым. почему? */
        .text-secondary a:hover,
        .text-white a:active,
        .text-white a:visited
        {
            color: gray;
        }
        caption {
            caption-side: top; /* Заголовок над таблицей */
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <header class="row text-white bg-dark">
        <div class="col-md-9  text-white h2 text-left bg-dark" th:text="${user.email} + ' with roles:'">with roles: admin, user</div>
        <div class="col-md-3 text-right bg-dark align-text-bottom  my-auto"><a href="/logout">Logout</a></div>
        <!--  гиперссылка не переезжает вниз, не позиционируется по центру вертикально. игнорирует свойства выставляемые в контейнере -->
        <!-- не работает выставление цвета текста для гиперссылки -->
        <!-- нет фавикона из коропки, не добавляется свой по этой доке https://www.baeldung.com/spring-boot-favicon -->
    </header>
</div>
<div>
    <p th:text="${user.id}"  id="uuid" hidden></p>
</div>
<div id="result"></div>

<script type="text/javascript">
$(function () {
    let idValue = $('#uuid').text();
    alert(idValue);  //id верный!
    // alert($('#uuid').text());

    $.get("http://localhost:8081/api/v1/user/info/" + idValue).done(function (data) {
        // data.forEach(function (da) {
            $('#result').append(
                // data.id
                data.username,
                " ",
                data.email
            )
        // })
    });
    // let userI = $.get("http://localhost:8081/api/v1/user/info/" + idValue);
    // alert(userI);
    // $('#result').append(userI.id);
    // $.each(userI, function (key, value) {
    //     $("#result").text(key, value);
    // })

});
// }
</script>
<script type="text/javascript" th:src="@{/js/userAjax.js}"></script>
</body>
</html>