<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/" lang="en">
<head>
    <meta charset="UTF-8" content="text/html">
    <title>User page</title>

<!--    <link href="../static/css/bootstrap.css" th:href="@{css/bootstrap.css}" rel="stylesheet" type="text/css">-->
<!--    <link href="../static/css/reg.css" th:href="@{css/reg.css}" rel="stylesheet" type="text/css">-->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
<!--    <link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css">-->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <style>
        /* только явным прописыванием стиля тут удалось сделать белым. почему? */
        .text-secondary a:hover,
        .text-white a:active,
        .text-white a:visited
        {
            color: gray;
        }
        caption {
            caption-side: top; /* Заголовок над таблицей */
        }
    </style>
</head>
<body>
<!-- 1 row, contents header -->
<div class="container-fluid">
    <header class="row text-white bg-dark">
        <div class="col-md-9  text-white h2 text-left bg-dark" th:text="${user.email} + ' with roles:'">with roles: admin, user</div>
        <div class="col-md-3 text-right bg-dark align-text-bottom  my-auto"><a href="/logout">Logout</a></div>
        <!--  гиперссылка не переезжает вниз, не позиционируется по центру вертикально. игнорирует свойства выставляемые в контейнере -->
        <!-- не работает выставление цвета текста для гиперссылки -->
        <!-- нет фавикона из коропки, не добавляется свой по этой доке https://www.baeldung.com/spring-boot-favicon -->
    </header>
</div>

<div class="row">

    <div class="col-2 container">       <!-- left container -->
        <div class="col-12  text-white rounded bg-primary">User</div>
    </div>
    <!-- row4 -->

    <div class="col-10 container bg-light pb-5">
        <div class="row">
            <div class="col-12 h2">User information-page</div>
        </div>

        <div class="row">
            <div class="col-11 bg-light h3 m-0 border-right border-left border-top">
                About user
            </div>
        </div>

    <div class="row">
<!--        <div class="col-11 h2 border mb-0 ml-3 bg-danger">About user</div>-->
        <!--        <div class="col11"></div>-->
        <div class="col-11 bg-white m-0 p-0 border">
<!--            <div class="col-12 h2 border mb-0">-->
<!--                About user-->
<!--            </div>-->
            <table class="table table-striped">
<!--                <caption class="h2 border">About user</caption>-->
                <thead>

                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>email</th>
                    <th>maxWeigth</th>
                </tr>
                </thead>
                <tbody>
                <tr th:object="${user}">
                    <td th:text="*{id}"></td>
                    <td th:text="*{username}"></td>
                    <td th:text="*{email}"></td>
                    <td th:text="*{maxweight}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>

</body>
</html>